In [1]:
i <- 1
repeat {
    print(i)
    if (i >=5){
        break
    }
    i <- i +1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [3]:
install.packages("dplyr")

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\lee\AppData\Local\Temp\Rtmp2TrNpn\downloaded_packages

In [4]:
library("dplyr")

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [5]:
install.packages("readxl")

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\lee\AppData\Local\Temp\Rtmp2TrNpn\downloaded_packages

In [6]:
library(readxl)

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [10]:
customer_r <- read_xlsx("customer_r.xlsx")

In [11]:
customer_r %>% count()

  n
1 183

In [14]:
order_info_r <- read_xlsx("order_info_r.xlsx")

In [15]:
dim(order_info_r)

[1] 391   5

In [16]:
summarise(order_info_r.avg = mean(SALSE))

ERROR: Error in mean(SALSE): 객체 'SALSE'를 찾을 수 없습니다

In [18]:
order_info_r %>% summarise(min_value = min(SALES), max_value = max(SALES))

  min_value max_value
1 6000      552000

In [20]:
reservation_r <- read_xlsx("reservation_r.xlsx")

In [21]:
head(reservation_r)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [28]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [29]:
iris3 = cbind(iris.iris)

ERROR: Error in cbind(iris.iris): 객체 'iris.iris'를 찾을 수 없습니다

In [30]:
head(iris3)

[1] 5.1 4.9 4.7 4.6 5.0 5.4